node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.gitmodules
README.md
readme.txt
LICENSE
LICENSE.txt
.vscode
assets
.github
package-lock.json
app/bower_components
app/styles/styles.css
.gradle/
.grunt/
gems.locked
.tmp
.env
env.sample